{
  "mcpServers": {
    "aem-content": {
      "url": "https://mcp.adobeaemcloud.com/adobe/mcp/content"
    },
    "aem-content-readonly": {
      "url": "https://mcp.adobeaemcloud.com/adobe/mcp/content-readonly"
    },
    "aem-cloudmanager": {
      "url": "https://mcp.adobeaemcloud.com/adobe/mcp/cloudmanager"
    },
    "helix-mcp-server": {
      "command": "npx",
      "args": [
        "https://github.com/cloudadoption/helix-mcp"
      ],
      "env": {
        "HELIX_ADMIN_API_TOKEN": "COPY_FROM_admin.hlx.page_cookie_or_see_README",
        "RUM_DOMAIN_KEY": "optional_rum_key"
      }
    }
  }
}
